*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1250px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.primary-text{
    color: #f7c08a;
}

.secondary-text{
    color: #f7c08a;
}
.clear {
    clear: both;
}


#navbar h1 {
   color: white;
   float: left;
   padding: 30px;
}

#navbar ul{
    float: right;
}

#navbar ul li {
    float: left;
    list-style: none;
}

#navbar ul li a {
    text-decoration: none;
    color: white;
}

#navbar li {
    float: left;
    padding: 30px;
}

#navbar {
    background-color: #333;
    height: 90px;
}

#showcase {
    padding: left 40px;
}

#showcase p {
   padding-top: 30px;

}


#showcase h2{
    margin-top: 10px;
}
#showcase .form-wrap{
   padding-left: 50px;
}
.form-wrap .form-group{
    padding-top: 10px;
}

.form-wrap button{
    margin-top: 20px;
    background-color: #333;
    border-radius: 8px;
    
}

.form-wrap .btn{
    text-align: center;
    font-size: 15px;
    color: white;
    padding: 10px;
    
}
.form-wrap .form-group label{
    display: block;
    padding-top: 10px;
}
.form-wrap .form-group input{
    width: 95%;
    height: 40px;
    
    
}
#message {
    width: 95%;
    height: 218px;
}



#features {
    text-align: center;
    
}
.box {
    height: 200px;
    float: left;
    background-color: #333;
    color: white;
    width: 33.23%;
    margin-top: 20px;
    padding: 50px;
   
}
.box i {
    font-size: 50px;
    margin-bottom: 15px;
}
.box p{
    margin-top: 35px;
    
}



